# Папки и файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Виртуальные окружения
venv/
env/
.env
.venv/

# Папки и файлы системных тестов
*.egg-info/
dist/
build/

# Исключить отчёты Allure
target/allure-results/
target/allure-report/
*.allure

# Base IDE specific files
.idea/
.vscode/

# Другие файлы конфигурации
*.log
*.sqlite3
*.swp
*.swo
.DS_Store
*.pem
